/* This file is part of metro.
metro is Copyright 2013 Jonathan Eberle & Cluster-AG Leinger-Gymnasium Grünstadt metro is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
metro is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
You should have received a copy of the GNU General Public License along with metro. See the file GPLV2. If not, see http://www.gnu.org/licenses/.*/

@font-face {
	font-family:PosterBodoni BT;
	src: url(posterbodonibt.ttf);
}

/*general style for the tiles*/
body {
	background:#d5d5d5;
}

h1 {
	font-family:PosterBodoni BT;
	letter-spacing:10px;
	color:#01295A;
	font-size:5em;
	margin:0;
}

img {
	width:100%;
}

.menuitem {
	max-width:100%;
	border-radius:5%;
}

.menuitem img {
	max-width:100%;
	border-radius:5%;
}

#news {
	background:gray;
	overflow:hidden;
}

#titlelink {
	background:#01295A;
}

#newsliste {
	list-style-type:none;
	font-size:2em;
}

#schulleben{
	background:#FFC029;
}

#fachbereiche {
	background:#FF6205;
}

#schulprofil {
	background:#01295A;
}

#personen {
	background:#FF2C05;
}

#kontakt {

}

#orientierungsstufe {
	background:#FF2C05;
}

#impressum {
	background:#0260d2;
}

#termine {
	background:#FFC029;
}

/* ALL FOLLOWING INTENDED FOR 1366*768 BUT INCOMPLETE
@media screen{
	h1 {
		display:block;
	}
	
	
	
	.menuitem {
		float:left;
		margin:0 0.830161% 3.149606% 0.830161%;
	
	}
	
	
	#title {
		max-width:100%;
		max-height:11.811024%;
	}
	
	#news {
		clear:both;
		max-width:24.450952%;
		max-height:66.141732%;
		/*background:#01295A;*//*
		
		overflow:hidden;
	}

	

	#news newsliste{
		max-height: 100%;
	}
	
	#schulleben {
		max-width:20.863836%;
		max-height:40.787402;
	}
	

	
	#fachbereiche {
		max-width:1.615402%;
		max-height:63.937008%;
		
	}
	
	#schulprofil {
		max-width:6.954612%;
		max-height:63.937008%;
		
	}
	
	#personen {
		max-width:19.765739%;
		max-height:44.724409%;
		
	}
	
	#kontakt {
		max-width:24.450952%;
		max-height:13.228346%;
		clear:left;
	}
	#orientierungsstufe {
		max-width:20.863836%;
		max-height:36.692913%;
		
	}
	
	#impressum {
		max-width:14.330709%;
		max-height:10.395315%;
		clear:right;
		
	}
	
	#termine {
		max-width:19.765739%;
		max-height:33.070866%;
		
	}
}*/

/*ALL FOLLOWING INTENDED FOR SMARTPHONES BUT INCOMPLETE*/
/*@media screen and (max-width: 720px) {*/


	.menuitem {
		margin:5%;
	}
/*}*/